{% extends "layout.html" %}

{% block title %}
Folder
{% endblock %}

{% block content %}
<div class="d-flex">
    <h1>folder page</h1>
    <a href="{% url 'todoform' folder_id %}">
        <button class="btn btn-primary">Add Todo</button>
    </a>
</div>

    <div class="d-inline-block mt-4">
        <ul class="list-group float-start pe-3">
            {% for todo in todos %}
                    <li class="list-group-item">
                        {{todo.tag}} - {{todo.description}}
                    </li>
                </a>
            {% endfor %}
        </ul>

        <div class="card " style="width: 18rem;">
            {% for card in cards %}
                <a href="#" class="card-link">
                    <div class="card-body">
                        <h5 class="card-title">{{card.title}}</h5>
                        <p class="card-text">{{card.description}}</p>
                    </div>
                </a>
            {% endfor %}
        </div>
    </div>

{% endblock %}