{% extends "layout.html" %}

{% block title %}
Folder
{% endblock %}

{% block content %}
<main class="">
    <div class="flex flex-col lg:flex-row gap-3">
        <div class="flex flex-col gap-1 lg:w-1/2">
            <div class="w-full py-2 text-center border-2 border-slate-400">
                <a href="{% url 'todoform' folder_id %}">
                    <button class="">Add Todo</button>
                </a>
            </div>
            <div class="flex flex-col max-h-[420px] overflow-auto">
                <ul class="">
                    {% for todo in todos %}
                        <li class="">
                            {{todo.tag}} - {{todo.description}}
                            <a href="{% url 'edittodoform' todo.id  %}" class="">Edit</a>
                            <a href="{% url 'deletetodoform' todo.id %}" class="">Done</a>   
                        </li>
                    {% endfor %}
                </ul>
            </div>
        </div>
        
        <div class="flex flex-col gap-1 lg:w-1/2">
            <div class="w-full py-2 text-center border-2 border-slate-400">
                <a href="{% url 'cardform' folder_id %}">
                    <button class="">Add Card</button>
                </a>
            </div>
            <div class="flex flex-col w-full gap-1  bg-amber-950 max-h-[500px] overflow-auto lg:grid lg:grid-cols-2">
                {% for card in cards %}
                    <div>
                        <a href="{% url 'editcardform' card.id %}" class="card-link">
                            <div class="card-body">
                                <h5 class="card-title">{{card.title}}</h5>
                                <p class="card-text">{{card.description}}</p>
                            </div>
                            <a href="{% url 'deletecardform' card.id %}" class="">Remove</a>
                        </a>
                    </div>
                {% endfor %}
            </div>
        </div>
    </div>
</main>
{% endblock %}