{% extends "layout.html" %}
{% load static %}

{% block title %}
Thoughts
{% endblock %}

{% block content %}
<main class="centerScales">
    {% comment %} <h5>Test</h5> {% endcomment %}

    {% comment %} Folders starts here {% endcomment %}
    <div class="flex flex-col gap-2 mb-3">        
        <div class="flex gap-1 items-center h-fit justify-end">
            <div class="primaryButton">
                <a href="{% url 'folderform' %}" class="">Create Folder</a>
            </div>
            {% comment %} <div class="h-6 border-l-2 border-border-white-1"></div> {% endcomment %}
            <div class="secondaryButton">
                <a href="{% url 'folderform' %}" >View all folders</a>
            </div>
        </div>
        
        <ul class="flex gap-3 overflow-x-auto h-[110px] items-center">
            {% for folder in folders %}
                <li class="flex flex-col w-full rounded-lg gap-1 hover:bg-bg-black-1 px-3 py-2 group transition duration-700 h-full">
                        <a href="{% url 'folder' folder.id %}">
                            <div class="flex items-center gap-3">
                                <i class="fa-solid fa-folder-closed text-5xl text-text-blue-1"></i>
                                <span class="font-semibold">{{folder.name}}</span>
                            </div>
                        </a>

                    <div class="flex items-center gap-1 justify-end lg:hidden group-hover:flex transition duration-700">
                        <div class="actionButton">
                            <a href="{% url 'editfolderform' folder.id %}">Edit</a>
                        </div>
                        <div class="actionButton text-red-500 bg-red-500/20 hover:bg-red-500/10">
                            <a href="{% url 'deletefolderform' folder.id %}">Delete</a>
                        </div>
                    </div>
                </li>
            {% endfor %}
        </ul>
    </div>
    {% comment %} Folder ends here {% endcomment %}

    {% comment %} Thoughts section {% endcomment %}
    {% comment %} <div class="-mx-12 hover:bg-bg-blue-1/5 bg-bg-blue-1/10  rounded-t-2xl pt-5"> {% endcomment %}
        <div class="flex flex-col lg:flex-row gap-3">
            {% comment %} Todos here {% endcomment %}
            <div class="flex flex-col gap-2 lg:w-1/2">
                <a href="{% url 'todoform' homeFolder.id %}" class="primaryButton">Add To-Do</a>

                {% comment %} <div class="flex flex-col max-h-[420px] overflow-auto"> {% endcomment %}
                    <ul class="flex flex-col max-h-[420px] overflow-auto gap-1">
                        {% for todo in homeTodos %}
                        <li class="flex justify-between overflow-hidden">
                            <div class="flex items-center gap-3">
                                <span class="px-2 py-0.5 bg-bg-blue-1/90 rounded-md font-medium text-sm">{{todo.tag}}</span>
                                <p class="text-sm">
                                    {{todo.description}}
                                </p>
                            </div>
                            <div>
                                <a href="{% url 'edittodoform' todo.id  %}" class="actionButton">Edit</a>
                                <a href="{% url 'deletetodoform' todo.id %}" class="actionButton text-green-500 bg-green-500/20 hover:bg-green-500/10">Done</a>
                            </div>
                        </li>   
                        {% endfor %}
                    </ul>
                {% comment %} </div> {% endcomment %}
            </div>

            {% comment %} Cards here {% endcomment %}
            <div class="flex flex-col gap-2 lg:w-1/2">
                <a href="{% url 'cardform' homeFolder.id  %}" class="primaryButton">Add Card</a>
                <div class="flex flex-col w-full gap-3 max-h-[420px] overflow-auto lg:grid lg:grid-cols-2 ">
                    {% for card in homeCards %}
                    <div class="flex flex-col border-2 border-border-black-3 hover:bg-bg-black-1 rounded-3xl group py-4 px-4 gap-4 transition duration-400 h-auto">
                        <div class="flex flex-col items-start">
                            <div class="flex gap-5 justify-between">
                                <h3 class="text-xl font-bold">{{card.title}}</h3>
                            </div>
                            <p class="text-sm">{{card.description}}</p>
                        </div>
                        <div class="flex w-full gap-2">
                            <a href="{% url 'editcardform' card.id %}" class="actionButton lg:hidden group-hover:block w-1/2 text-center">Edit</a>
                            <a href="{% url 'deletecardform' card.id %}" class="actionButton lg:hidden group-hover:block w-1/2 text-center text-red-500 bg-red-500/20 hover:bg-red-500/10">Delete</a>
                        </div>
                    </div>
                    {% endfor %}
                </div>
            </div>
        </div>
    {% comment %} </div> {% endcomment %}
</main>
{% endblock %}