{% extends "layout.html" %}

{% block content %}

{% comment %} <form method="post">
    {% csrf_token %}
    {{ form.as_p }}
    <button type="submit">Add ToDo</button>
</form> {% endcomment %}

<form  method="post">
    {% csrf_token %}
    <div class="form_group">
        <div class="tag w-fit ">
            <label for="{{ form.tag.id_for_label }}" class="font-semibold">{{ form.tag.label}}</label>
            <div class="border-2 rounded-xl border-border-black-3 text-2xl font-light">{{ form.tag }}</div>
        </div>
        <div class="description w-fit ">
            <label for="{{ form.description.id_for_label }}" class="font-semibold">{{ form.description.label}}</label>
            <div class="border-2 rounded-xl border-border-black-3 text-2xl font-light">{{ form.description }}</div>
        </div>
        <div class="status w-fit ">
            <label for="{{ form.status.id_for_label }}" class="font-semibold">{{ form.status.label}}</label>
            <div class="border-2 rounded-xl border-border-black-3 text-2xl font-light">{{ form.status }}</div>
        </div>
    </div>
    <button class="block text-white bg-blue-700 hover:bg-blue-800 focus:ring-4 focus:outline-none focus:ring-blue-300 font-medium rounded-lg text-sm px-5 py-2.5 text-center dark:bg-blue-600 dark:hover:bg-blue-700 dark:focus:ring-blue-800 mt-3"  type="submit">Add</button>
</form>

{% endblock %}