{% extends "layout.html" %}

{% block title %}
Login
{% endblock %}

{% block content %}
<h1 class="text-4xl font-bold text-center">Login</h1>

<form method="post">
    {% csrf_token %}
    {% comment %} {{ form }} {% endcomment %}
     <div class="form_group">
        <div class="password w-fit ">
            <label for="{{ form.username.id_for_label }}" class="font-semibold">{{ form.username.label}}</label>
            <div class="border-2 rounded-xl border-border-black-3 text-2xl font-light">{{ form.username }}</div>
        </div>
        <div class="password w-fit ">
            <label for="{{ form.password.id_for_label }}" class="font-semibold">{{ form.password.label}}</label>
            <div class="border-2 rounded-xl border-border-black-3 text-2xl font-light">{{ form.password }}</div>
        </div>
    </div>
    <button class="block text-white bg-blue-700 hover:bg-blue-800 focus:ring-4 focus:outline-none focus:ring-blue-300 font-medium rounded-lg text-sm px-5 py-2.5 text-center dark:bg-blue-600 dark:hover:bg-blue-700 dark:focus:ring-blue-800 mt-3"  type="submit">Login</button>
    {% comment %} <button type="submit">Login</button> {% endcomment %}
</form>

{% endblock %}